.contenedor_salsas {
  background-color: white;
  margin: 2%;
  width: 46%;
}

@media screen and (min-width: 768px) {
  .contenedor_salsas {
    margin: 1%;
    width: 23%;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor_salsas {
    margin: 2%;
    width: 20%;
  }
}
label {
  color: white;
}

.boton, .regi {
  width: 30%;
  margin-top: 3%;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0;
    width: 60%;
    margin-left: 18%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin: 0%;
    width: 50%;
    margin-left: 25%;
  }
}
label {
  color: white;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0;
    width: 60%;
    margin-left: 18%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin: 0%;
    width: 50%;
    margin-left: 25%;
  }
}
.contenedor_img {
  background-color: white;
  margin-bottom: 5%;
  margin: 2%;
  width: 44%;
  transition: 0.5s;
}

.contenedor_img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .contenedor_img {
    margin: 2%;
    width: 29%;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor_img {
    margin: 4%;
    width: 25%;
  }
}
.contenedor_img {
  background-color: white;
  margin-bottom: 5%;
  margin: 2%;
  width: 44%;
  transition: 0.5s;
}

.contenedor_img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .contenedor_img {
    margin: 2%;
    width: 29%;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor_img {
    margin: 4%;
    width: 25%;
  }
}
.delivery {
  color: white;
}

.contenedor_bebidas {
  margin: 2%;
  width: 46%;
  background-color: white;
}

@media screen and (min-width: 375px) {
  .contenedor_bebidas {
    margin: 2%;
    width: 46%;
  }
}
@media screen and (min-width: 768px) {
  .contenedor_bebidas {
    margin: 2%;
    width: 29%;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor_bebidas {
    margin: 2%;
    width: 21%;
  }
}
.contenedor_img {
  background-color: white;
  margin-bottom: 5%;
  margin: 2%;
  width: 44%;
  transition: 0.5s;
}

.contenedor_img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .contenedor_img {
    margin: 2%;
    width: 29%;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor_img {
    margin: 4%;
    width: 25%;
  }
}
/* ETIQUETAS */
* {
  margin: 0;
  padding: 0;
  width: 100%;
}

div .row {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

li {
  list-style: none;
}

ul {
  padding: 0%;
  margin: 0%;
}

nav {
  height: 5%;
}

h2 {
  color: white;
  padding: 6%;
}

h6 {
  padding: 6%;
}

/* CLASES */
.btn {
  color: black;
  background-color: white;
}

body {
  background-color: black;
}

section ul {
  list-style: none;
  display: flex;
  height: 6%;
  text-align: center;
  background-color: yellow;
  font-size: smaller;
}

footer {
  background-color: yellow;
  height: 12%;
  margin-top: 10%;
}
footer ul {
  display: flex;
  list-style: none;
}
footer ul li {
  width: 6%;
  margin-left: 5%;
}

/* first mobile */
/* 375px */
@media screen and (min-width: 375px) {
  section ul {
    font-size: large;
  }
}
/* 768px */
@media screen and (min-width: 768px) {
  section ul {
    font-size: x-large;
  }
  footer ul {
    display: flex;
    list-style: none;
  }
  footer ul li {
    margin: 0%;
    width: 5%;
    margin-left: 2%;
  }
}
/* 1440px */
@media screen and (min-width: 1440px) {
  footer {
    margin-top: 10%;
  }
  footer ul {
    display: flex;
    list-style: none;
  }
  footer ul li {
    margin: 0%;
    width: 4%;
    margin-left: 2%;
  }
  section ul {
    list-style: none;
    display: flex;
    text-align: center;
    font-size: x-large;
  }
}

/*# sourceMappingURL=estilos.css.map */
