.salsa {
  margin: 3%;
  width: 40%;
}

.btn {
  margin-bottom: 2%;
}

.h3_salsa {
  margin-top: 15%;
  font-weight: 500;
}

.contenedor_salsas {
  background-color: white;
  margin: 8%;
  width: 83%;
  transition: 0.5s;
}

.contenedor_salsas:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .contenedor_salsas {
    margin: 3%;
    width: 27%;
  }
  .contenedor_salsas .h3_salsa {
    font-size: large;
  }
  .contenedor_salsas .h3-salsa {
    font-size: large;
  }
}
@media screen and (min-width: 1024px) {
  .h3-salsa {
    margin-top: 13%;
  }
}
label {
  color: white;
}

.boton, .regi {
  width: 30%;
  margin-top: 3%;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0;
    width: 60%;
    margin-left: 18%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin: 0%;
    width: 50%;
    margin-left: 25%;
  }
}
label {
  color: white;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0;
    width: 60%;
    margin-left: 18%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin: 0%;
    width: 50%;
    margin-left: 25%;
  }
}
p {
  font-size: small;
}

/* .btn{
    margin-bottom: 6%;
} */
.contenedor_img {
  background-color: white;
  margin-bottom: 5%;
  margin: 10%;
  width: 80%;
  transition: 0.5s;
}

.contenedor_img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .contenedor_img {
    margin: 3%;
    width: 27%;
  }
  .contenedor_img .h3_img {
    font-size: large;
  }
}
p {
  font-size: small;
}

.btn {
  margin-bottom: 5%;
}

.contenedor_img {
  background-color: white;
  margin-bottom: 5%;
  margin: 10%;
  width: 80%;
  transition: 0.5s;
}

.contenedor_img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .contenedor_img {
    margin: 3%;
    width: 27%;
  }
  .contenedor_img .h3_img {
    font-size: large;
  }
}
.delivery {
  color: white;
}

.lata {
  width: 50%;
  margin: 3%;
}

.btn {
  margin-bottom: 2%;
}

.h3_lata {
  margin-top: 15%;
  font-weight: 500;
}

.contenedor_bebidas {
  margin: 8%;
  width: 83%;
  background-color: white;
  transition: 0.5s;
  margin-bottom: 4%;
}

.contenedor_bebidas:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .contenedor_bebidas {
    margin: 3%;
    width: 27%;
  }
  .contenedor_bebidas .h3_lata {
    font-size: large;
  }
}
p {
  font-size: small;
}

.contenedor_img {
  background-color: white;
  margin-bottom: 5%;
  margin: 10%;
  width: 80%;
  transition: 0.5s;
  /*     position: relative;
      div{
          select{
              .btn{
                  position:absolute;
              }  
          }
      } */
}

.contenedor_img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .contenedor_img {
    margin: 3%;
    width: 27%;
  }
  .contenedor_img .h3_img {
    font-size: large;
  }
}
/* ETIQUETAS */
* {
  margin: 0;
  padding: 0;
  width: 100%;
}

div .row {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

li {
  list-style: none;
}

ul {
  padding: 0%;
  margin: 0%;
}

nav {
  height: 5%;
}

h2 {
  color: white;
  padding: 6%;
}

h3 {
  padding: 6%;
}

/* CLASES */
.btn {
  color: black;
  background-color: white;
}

body {
  background-color: black;
}

section ul {
  list-style: none;
  display: flex;
  height: 6%;
  text-align: center;
  background-color: yellow;
  font-size: smaller;
}

footer {
  background-color: yellow;
  height: 12%;
  margin-top: 10%;
}
footer ul {
  display: flex;
  list-style: none;
}
footer ul li {
  width: 6%;
  margin-left: 5%;
}

/* first mobile */
/* 375px */
@media screen and (min-width: 375px) {
  section ul {
    font-size: large;
  }
}
/* 768px */
@media screen and (min-width: 768px) {
  section ul {
    font-size: x-large;
  }
  footer ul {
    display: flex;
    list-style: none;
  }
  footer ul li {
    margin: 0%;
    width: 5%;
    margin-left: 2%;
  }
}
/* 1440px */
@media screen and (min-width: 1440px) {
  footer {
    margin-top: 10%;
  }
  footer ul {
    display: flex;
    list-style: none;
  }
  footer ul li {
    margin: 0%;
    width: 4%;
    margin-left: 2%;
  }
  section ul {
    list-style: none;
    display: flex;
    text-align: center;
    font-size: x-large;
  }
}

/*# sourceMappingURL=estilos.css.map */
