@use './variables';
@mixin tamanio ($margen, $ancho){
   margin:$margen;
   width:$ancho;
}

.lata{
   width: 50%;
   margin: 3%;
}

.btn{
   margin-bottom: 2%;
}

.h3_lata{
   margin-top: 15%;
   font-weight:500;
}

.contenedor_bebidas{
   @include tamanio (8%,83%);
   background-color:white;
   transition: 0.5s;
   margin-bottom: 4%;
}

.contenedor_bebidas:hover{
   transform: scale(1.2);
}

@media screen and (min-width:768px){
   .contenedor_bebidas{
      @include tamanio (3%, 27%);
      .h3_lata{
         font-size:large;
      }
   }
   
}

