@use './variables';


@mixin tamanio ($margen, $ancho){
    margin:$margen;
    width:$ancho;
}

.contenedor_img{
    background-color:white;
    @include tamanio (2%, 46%);
   /*  margin:2%;
    width: 46%;  */
}