@use './variables';

@mixin tamanio ($margen, $ancho){
    margin:$margen;
    width:$ancho;
}

p{
    font-size:small;
}

@mixin sticky($posicion, $altura){
    position:$posicion;
    top:$altura;
}
.sticky{
    @include sticky(sticky,0 )
}
.contenedor_img{
    background-color:white;
    margin-bottom: 5%;
    @include tamanio (10%,80%);
    transition: 0.5s;

}

.contenedor_img:hover{
    transform: scale(1.2);
}

@media screen and (min-width:768px){
    
    .contenedor_img{
        @include tamanio (3%, 27%);
        .h3_img{
            font-size: large;
        }
    }
}

