@use './variables';


label{
    color: variables.$label;
}

.boton{
    width: 30%;
    margin-top: 3%;
}

.regi{
    @extend .boton
};

@media screen and (min-width: 768px) {
    .container{
        width: 60%;   
    }
}

@media screen and (min-width: 1440px) {
    .container{
        width: 45%;   
    }
}