@use './variables';

@mixin tamanio ($margen, $ancho){
    margin:$margen;
    width:$ancho;
}

@mixin sticky($posicion, $altura){
    position:$posicion;
    top:$altura;
}

.sticky{
    @include sticky(sticky,0 )
}

label{
    color: variables.$label;
}

.boton{
    width: 30%;
    margin-top: 3%;
}

.regi{
    @extend .boton
};

@media screen and (min-width: 768px) {
    .container{
        @include tamanio (0,60%); 
        margin-left: 18%;   
        
    }
}

@media screen and (min-width: 1440px) {
    .container{
        @include tamanio (0%, 50%);  
        margin-left: 25%;
    }
}