@use './variables';

@mixin tamanio ($margen, $ancho){
    margin:$margen;
    width:$ancho;
}
.contenedor_salsas{
    background-color:white; 
    @include tamanio (2%, 46%);
}

@media screen and (min-width:768px){
    .contenedor_salsas{
        @include tamanio (1%, 23%);
    }
}

@media screen and (min-width:1024px){
    .contenedor_salsas{
        @include tamanio (2%, 20%);
    }
}