@use './variables';

@mixin tamanio ($margen, $ancho){
    margin:$margen;
    width:$ancho;

}
.salsa{
    @include tamanio (3%,50%);
}

.btn{
    margin-bottom: 2%;
}

.h6_salsa{
    margin-top: 18%;
    font-weight:bolder;
}

.h6-salsa{
    margin-top: 10%;
    font-weight:bolder;
}

.contenedor_salsas{
    background-color:white; 
    @include tamanio (8%,83%);
    transition: 0.5s;
}

.contenedor_salsas:hover{
    transform: scale(1.2);
}
 
@media screen and (min-width:768px){
    .contenedor_salsas{
        @include tamanio (3%, 27%);
    }
}
