$color_h2: white;
$padding_h2: 6%;
$height_nav: 5%;
$section_ul_display: flex;
$section_ul_height: 6%;
$section_ul_aling:center;
$section_ul_background: yellow;
$section_font:smaller;
$section_fontL:large;
$section_fontx:x-large;
$label:white;
$footer_background:yellow;
$footer_height:12%;
$footer_mtop:10%;
$footer_li_width:10%;
$footer_li_mleft:5%;
$body_background:black;

