@use './salsas.scss';
@use './registrarme.scss';
@use './inicio-de-sesion.scss';
@use './hamburguesas.scss';
@use './entrada.scss';
@use './carrito.scss';
@use './bebidas.scss';
@use './index';
@use './variables';

                                            /* ETIQUETAS */

*{
    margin:0;
    padding:0;
    width: 100%;
}

div{
    .row{
        margin: 0;
    }
}

a{
    text-decoration:none;
    font-weight: bold;
    color:black;
}

li{
    list-style: none;
}

ul{
    padding:0%;
    margin: 0%;
}

nav{
    height: variables.$height_nav;
}

h2{
    color: variables.$color_h2;
    padding: variables.$padding_h2;
}

h6{
    padding: variables.$padding_h2;
}
                                            /* CLASES */

.btn{
    color:black;
    background-color: white;
}

body{
    background-color:variables.$body_background;
}

                                            /* Variables */

section{
    ul{
        list-style: none;
        display: variables.$section_ul_display;
        height: variables.$section_ul_height;
        text-align:variables.$section_ul_aling;
        background-color: variables.$section_ul_background;
        font-size:variables.$section_font;       
    }
}

/* .contenedor_img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px rgb(0 0 0 / 50%);
}

.contenedor_img:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 50px rgb(0 0 0 / 20%);
} */

footer{
    background-color: variables.$footer_background;
    height:variables.$footer_height;
    margin-top: variables.$footer_mtop;
    ul{
        display:variables.$section_ul_display;
        list-style: none;
        li{
            width: variables.$footer_li_width;
            margin-left: variables.$footer_li_mleft;
        }
    }
}
                                                /* Mixins & animacion*/
@mixin tamanio ($margen, $ancho){
    margin:$margen;
    width:$ancho;
}

.contenedor_img{
    background-color:white;
    @include tamanio (2%, 46%);
   /*  transition: all 1s; */
}

/* .contenedor_img:hover{
    transform: scale(1.2);
} */


                                        /* first mobile */
                                            /* 375px */
                
@media screen and (min-width:375px){
    .contenedor_bebidas{
        @include tamanio (0%, 46%);
    }

    section{
        ul{
            font-size:variables.$section_fontL;       
        }
    }
} 

                                            /* 768px */

@media screen and (min-width:768px){
    .contenedor_img{
        @include tamanio (1%, 31%);
    }

    .contenedor_bebidas{
        @include tamanio (0%, 21%);
    }

    .contenedor_salsas{
        @include tamanio (0%, 21%);
    }

    section{
        ul{
            font-size:variables.$section_fontx;
        }
    }

    footer{
        ul{ display:variables.$section_ul_display;
            list-style: none; 
            li{ 
                @include tamanio (0%, 5%);
                margin-left:variables.$footer_li_mleft;
            } 
        } 
    }
}

                                            /* 1024px */
@media screen and (min-width:1024px){
    .contenedor_img{
        @include tamanio (4%, 25%);
    }
}
                                        
                                            /* 1440px */

@media screen and (min-width:1440px){

    footer{
        margin-top:variables.$footer_mtop;
        ul{ display:variables.$section_ul_display;
            list-style: none; 
            li{
                @include tamanio (0%, 4%);
                margin-left:variables.$footer_li_mleft;
            } 
        } 
    }

    section{
        ul{
            list-style: none;
            display:variables.$section_ul_display;
            text-align:variables.$section_ul_aling;
            font-size:variables.$section_fontx;       
        }
    }
}
