@use './salsas.scss';
@use './registrarme.scss';
@use './inicio-de-sesion.scss';
@use './hamburguesas.scss';
@use './entrada.scss';
@use './carrito.scss';
@use './bebidas.scss';
@use './index';
@use './variables';
@mixin tamanio ($margen, $ancho){
    margin:$margen;
    width:$ancho;
}
                                            /* ETIQUETAS */

*{
    margin:0;
    padding:0;
    width: 100%;
}

div{
    .row{
        margin: 0;
    }
}

a{
    text-decoration:none;
    font-weight: bold;
    color:black;
}

li{
    list-style: none;
}

ul{
    padding:0%;
    margin: 0%;
}

nav{
    height: variables.$height_nav;
}

h2{
    color: variables.$color_h2;
    padding: variables.$padding_h2;
}

h3{
    padding: variables.$padding_h2;
}

body{
    background-color:variables.$body_background;
}

section{
    ul{
        list-style: none;
        display: variables.$section_ul_display;
        height: variables.$section_ul_height;
        text-align:variables.$section_ul_aling;
        background-color: variables.$section_ul_background;
        font-size:variables.$section_font;       
    }
}

footer{
    background-color: variables.$footer_background;
    height:variables.$footer_height;
    margin-top: variables.$footer_mtop;
    ul{
        display:variables.$section_ul_display;
        list-style: none;
        li{
            width: variables.$footer_li_width;
            margin-left: variables.$footer_li_mleft;
        }
    }
}

                                            /* CLASES */

.btn{
    color:black;
    background-color: white;
}

                                        /* first mobile */
                                            /* 375px */
                
@media screen and (min-width:375px){
    section{
        ul{
            font-size:variables.$section_fontL;       
        }
    }
} 

                                            /* 768px */

@media screen and (min-width:768px){
    section{
        ul{
            font-size:variables.$section_fontx;
        }
    }

    footer{
        ul{ display:variables.$section_ul_display;
            list-style: none; 
            li{ 
                @include tamanio (0%, 5%);
                margin-left:variables.$footer_li_mleft - 3;
            } 
        } 
    }
}

                                        
                                            /* 1440px */

@media screen and (min-width:1440px){

    footer{
        margin-top:variables.$footer_mtop;
        ul{ display:variables.$section_ul_display;
            list-style: none; 
            li{
                @include tamanio (0%, 4%);
                margin-left:variables.$footer_li_mleft - 3;
            } 
        } 
    }

    section{
        ul{
            list-style: none;
            display:variables.$section_ul_display;
            text-align:variables.$section_ul_aling;
            font-size:variables.$section_fontx;       
        }
    }
}
